@model OhNoAir.Models.Search

@{
    ViewData["Title"] = "Index";
}

<h2>Search for tickets</h2>


<div class="container border" style="padding:20px">


    <form asp-controller="Search" asp-action="Index">
        <div class="form-group row" style="padding:5px">
            <div class="col-2">
                Departure City:
            </div>
            <div class="col-5 ">
                <select asp-for=From asp-items="@(new SelectList(Model.Airports, "AirportID", "AirportName"))" class="form-control">
                    <option selected value="">Choose...</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="padding:5px">
            <div class="col-2">
                Destination City:
            </div>
            <div class="col-5">
                <select asp-for=To asp-items="@(new SelectList(Model.Airports, "AirportID", "AirportName"))" class="form-control">
                    <option selected value="">Choose...</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="padding:5px">
            <div class="col-2">
                Departure:
            </div>
            <div class="col-5">
                <input type="text" name="DepartDate" value="@Model.DepartDate?.ToString("MM-dd-yyyy")" class="datepicker form-control" />
            </div>
        </div>
        <div class="form-group row" style="padding:5px">
            <div class="col-2">
                Return:
            </div>
            <div class="col-5">
                <input type="text" name="ReturnDate" value="@Model.ReturnDate?.ToString("MM-dd-yyyy")" class="datepicker form-control" />
            </div>
        </div>
        <div class="form-group row" style="padding:5px">
            <div class="col-3">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>

@section Scripts{
<script>
    $(document).ready(function () {
       $(".datepicker").datepicker({
          dateFormat: "mm-dd-yy",
          changemonth: true,
          changeyear: true
          });
       });
</script>

}
@if (Model.Departs != null || Model.Returns != null)
{
    <div class="container border" style="padding:20px">
        <form asp-controller="Book" asp-action="Index">
            @if (Model.Departs != null)
            {

                <p>Depart: </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Departs[0].FlightID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Departs[0].Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Departs[0].Price)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Departs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlightID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td><input name="DepartFlightID" type="radio" value="@item.FlightID" /></td>
                                @*                    <td>
                                    <a asp-action="Book" asp-route-id="@item.FlightID">Book</a> |
                                    <a asp-action="Details" asp-route-id="@item.FlightID">Details</a>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>

            }


            @if (Model.Returns != null)
            {

                <p>Return: </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Returns[0].FlightID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Returns[0].Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Returns[0].Price)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Returns)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FlightID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td><input name="ReturnFlightID" type="radio" value="@item.FlightID" /></td>
                                @*<td>
                                    <a asp-action="Book" asp-route-id="@item.FlightID">Book</a> |
                                    <a asp-action="Details" asp-route-id="@item.FlightID">Details</a>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>

            }
            <div>
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>

        </form>
    </div>
}

